fastapi
uvicorn[standard]
sqlalchemy
alembic
jinja2
python-multipart
passlib[bcrypt]
Pillow==10.1.0
python-dotenv==1.0.0
reportlab==4.0.7
requests==2.31.0
librosa
soundfile
opencv-python-headless
transformers
torch
accelerate
torchaudio
deepface
